<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Bootstrap Component </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>ACCORDION</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-accordion></component-accordion>
                </div>
            </div>
        </div>

        <div class="col-lg-12" id="alerts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>ALERTS</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-alters></component-alters>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>BUTTONS</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-buttons></component-buttons>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>CAROUSEL</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-carousel></component-carousel>
                </div>
            </div>
        </div>
        <!-- collapse  -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>COLLAPSE</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-collapse></component-collapse>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>DATEPICKER</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-datepicker></component-datepicker>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>DROPDOWNS</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-dropdowns></component-dropdowns>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>MODALS</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-modals>
                    </component-modals>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>PAGINATION</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-pagination>
                    </component-pagination>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>PROGRESSBAR</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-progressbar>
                    </component-progressbar>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>RATING</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-rating>
                    </component-rating>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>TABS</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-tabs>
                    </component-tabs>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>TIMEPICKER</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-timepicker>
                    </component-timepicker>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>TOOLTIP</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-tooltip>
                    </component-tooltip>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>TYPEAHEAD</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <component-typeahead>
                    </component-typeahead>
                </div>
            </div>
        </div>

    </div>
</div>