<!-- /.navbar-header -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-brand" routerLink="/admin">IOT-DEVICE-HUB Admin</a>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li><a routerLink="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	</ul>
	<!-- /.navbar-top-links -->
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<li>
					<a routerLink="dashboard" routerLinkActive="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				</li>
				<li>
					<a routerLink="device" routerLinkActive="active"><i class="fa fa-bar-chart-o fa-fw"></i> デバイス管理</a>
				</li>
				<li>
					<a routerLink="device" routerLinkActive="active"><i class="fa fa-bar-chart-o fa-fw"></i> デバイス状態</a>
				</li>
				<li>
					<a routerLink="message" routerLinkActive="active"><i class="fa fa-table fa-fw"></i> メッセージ</a>
				</li>
			</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>

<router-outlet></router-outlet>