<!-- /.navbar-header -->
<nav class="navbar  navbar-static-top" role="navigation" style="background-color:#1187df;margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" style="color:#ffffff;" routerLink="/admin">Admin</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li><a routerLink="logout" style="color:#ffffff;"><i class="fa fa-sign-out fa-fw"></i> {{ langItem?.logout }}</a>
    </ul>
    <!-- /.navbar-static-side -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-profile">
            <img src="http://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png" style="width:24px:height:24px">
            <span><a routerLink="profile">LOGIN NAME</a></span>
        </div>
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav">
                <li>
                    <a routerLink="dashboard" routerLinkActive="active"><i class="fa fa-dashboard fa-fw"></i> {{ langItem?.dashboard }}</a>
                </li>
                <li>
                    <a routerLink="device" routerLinkActive="active"><i class="fa fa-bar-chart-o fa-fw"></i> デバイス管理</a>
                </li>
                <li>
                    <a routerLink="device" routerLinkActive="active"><i class="fa fa-bar-chart-o fa-fw"></i> デバイス状態</a>
                </li>
                <li>
                    <a routerLink="message" routerLinkActive="active"><i class="fa fa-table fa-fw"></i> メッセージ</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</nav>
<router-outlet></router-outlet>