<!-- Example row of columns -->
<div class="row">
	<div id="top" class="col-md-4">
		<h2>Heading</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
			ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-6">
		<app-charts></app-charts>
	</div>
	<div class="col-md-4">
		<h2>Heading</h2>

		<component-buttons #comb singleModel="3"></component-buttons>
		{{ comb.singleModel }}
	</div>

	<canvas #myCanvas width="400" height="400" style="background:lightgray;"></canvas>

	<a (click)="tick();">tt</a>
	<canvas #layout></canvas>

	<p>Last Update {{ myDate | amTimeAgo}}</p>

	<sebm-google-map [latitude]="lat" [longitude]="lng">
		<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
	</sebm-google-map>

	<h2> Gaugh Chart {{title}}</h2>
	<div id="gauge_chart" [chartData]="gauge_ChartData" update="gauge_ChartData" [chartOptions]="gauge_ChartOptions" chartType="Gauge"
		GoogleChart></div>

	<a class="to-top" routerLink="#top">Back to Top</a>
</div>